.sequence-timeline-component {
  .timeline-item {
    background-color: var(--primary);
    margin: 0 1px;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
    text-align: center;
    cursor: grab;

    &.resizing {
      // opacity: 0.7;
      background-color: #354cd1;
      z-index: 100;
    }

    &.react-draggable-dragging {
      z-index: 100;
      background-color: #354cd1;
    }

    .item-label {
      width: 100%;
    }

    .remove-icon {
      display: flex;
      align-items: center;
      position: absolute;
      right: 0;
      padding: 5px;
    }

    .sequence-resizer-w,
    .sequence-resizer-e {
      width: 4px;
      height: 70%;
      border-color: #ffffff;
      opacity: 0.5;
      z-index: 1000;
      position: absolute;
      cursor: ew-resize;
    }

    .sequence-resizer-w {
      left: 0;
      border-right: 1px solid;
    }

    .sequence-resizer-e {
      right: 0;
      border-left: 1px solid;
    }
  }
}
