.modal-add-to-sequence-component {
  .sequence-name {
    padding: 10px 20px;
    transition: all 0.1s ease;
    cursor: pointer;

    &:hover {
      background-color: var(--primary);
      color: white;

      * {
        color: white;
      }
    }
  }
}
