.master-tab-edit-sequence-component {
  .sequence-name-input {
    border-color: rgb(184, 184, 184);
    color: rgb(53, 53, 53);
    width: 30%;
    min-width: 200px;
  }

  .page-sequence-item {
    cursor: pointer;

    .page-sequence-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      margin-right: 7px;
      background-color: rgb(194, 194, 194);
      color: white;
    }

    & > span {
      font-size: 13px;
      opacity: 0.7;
    }

    &.done {
      .page-sequence-icon {
        background-color: var(--success);
      }

      & > span {
        opacity: 1;
      }
    }

    &.current {
      .page-sequence-icon {
        background-color: var(--primary);
      }

      & > span {
        opacity: 1;
      }
    }
  }

  .sequence-btns {
    & > button {
      min-width: 100px;
    }
  }

  .modal-footer {
    border-top: 1px solid rgb(225, 225, 225);
    padding: 0;
    // overflow: hidden;

    .page-sequence-item {
      height: 100%;
      position: relative;
      padding-left: 20px;

      .page-sequence-arrow {
        cursor: pointer;
        height: 60px;
        position: absolute;
        left: -10px;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 40px;

        &-top,
        &-bottom {
          background-color: rgb(225, 225, 225);
          height: 1px;
          left: -1px;
          position: absolute;
          top: 50%;
          width: 100%;

          &:after {
            background-color: #fff;
            content: "";
            height: 100%;
            position: absolute;
            top: 0;
          }
        }

        &-top {
          transform: rotate(65deg);
          transform-origin: bottom right;

          &:after {
            left: 100%;
            right: 0;
          }
        }

        &-bottom {
          transform: rotate(-65deg);
          transform-origin: top right;

          &:after {
            left: 0;
            right: 100%;
          }
        }
      }
    }
  }
}
