.sequences-search-bar-component {
  --width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    position: relative;
    width: 0;
    height: 46px;
    border-color: var(--primary) !important;
    transition: all 0.6s ease;
    z-index: 10;
    opacity: 0;
    cursor: pointer;
  }

  &.focus input {
    z-index: 0;
    opacity: 1;
    width: var(--width);
    margin-right: 10px;
    padding: 10px !important;
  }
}
