.login-form-component {
  .field-wrapper {
    position: relative;

    &.has-error > .input-group,
    &.has-error .custom-control-label::before {
      outline: 1px solid var(--orange);
    }

    .field-error {
      position: absolute;
      bottom: -1px;
      right: 0;
      transform: translateY(100%);
      color: var(--orange);
      font-size: 12px;
      font-weight: 400;
    }

    .custom-checkbox .field-error {
      left: 0;
    }
  }

  .server-error {
    position: absolute;
    top: -10px;
    width: 100%;
    text-align: center;
    color: var(--orange);
    font-size: 14px;
    font-weight: 400;
  }
}
