.sequence-page-schedule-component {
  .header-schedule {
    color: gray;
    font-weight: 100;
  }

  .row-schedule {
    display: flex;
    align-items: center;
    margin: 30px 0;

    .timeline {
      background: rgb(243, 243, 243);
      border-radius: 0px;
      min-height: 50px;
      overflow: hidden;
      flex: 1;

      &.active {
        background: rgb(228, 228, 228);
      }
    }
  }
}
