.chat-view-card-task-type-component {
  p {
    margin-bottom: 0;
  }

  .type-icon {
    border-radius: 5px;
    min-width: 20px;
    min-height: 20px;
    padding: 5px;
    margin: 5px;

    // .svg {
    //   width: ;
    // }
  }
}
