:root {
  --toastify-color-success: var(--primary);
  --toastify-color-error: var(--danger);
  --height-menu: 4.5rem;
}

body {
  overflow-x: hidden;
}

.height-fill {
  height: calc(100vh - var(--height-menu));
}

.logo-height {
  height: var(--height-menu);
}

@media (max-width: 900px) {
  .height-fill {
    height: initial;
  }
}

.tour-modal {
  .reactour__close {
    top: 10px;
    right: 10px;
  }
}

.Toastify__toast.notification {
  padding: 0;

  .Toastify__toast-body {
    padding: 0;
  }

  .Toastify__close-button {
    position: absolute;
    top: 2px;
    right: 7px;
  }
}

.tox .tox-toolbar,
.tox .tox-toolbar__overflow,
.tox .tox-toolbar__primary {
  background-image: none !important;
}
