.chats-list-bar-component {
  margin-top: 10px;

  .chat {
    padding: 1rem 1.5rem;
    background: #f4f4f4;
    border: 1px solid rgb(241, 241, 241);
    border-radius: 12px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background: #5e72e466;
    }

    &.active {
      background-color: #5e72e4;
      color: white;
    }

    .chat-user {
      font-weight: 600;
    }

    .chat-time {
      font-size: 12px;
      opacity: 0.5;
    }

    .chat-preview {
    }
  }
}
