.tariffs-component {
  background-color: white;
  position: relative;

  //   .pattern {
  //     // background-size: 500px;
  //     position: absolute;
  //     top: 0;
  //     width: 100%;
  //     height: 100%;
  //     // opacity: 0.4;
  //   }

  .title {
    h4 {
      color: black;
      font-family: "Eastman", Arial, sans-serif;
      font-weight: 700;
      font-size: 52px;
      text-transform: uppercase;
      text-align: center;
    }

    p {
      text-align: center;
      color: black;
      font-size: 18px;
      margin-bottom: 50px;
      font-family: "Eastman", Arial, sans-serif;
      font-weight: 400;
    }
  }

  .content {
    display: flex;
    justify-content: space-between;
    gap: 60px;

    .tariff {
      flex: 1;
      background-color: #f8f8ff;
      border-radius: 15px;
      box-shadow: 0px 0px 35px 0px rgb(0 0 0 / 10%);
      overflow: hidden;
      transition: all 0.3s;
      display: flex;
      flex-direction: column;
      // justify-content: space-between;

      & > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1 1 auto;
      }

      &:hover {
        transform: scale(1.025);
      }

      .header {
        height: 215px;
        max-height: 215px;
        padding: 0 20px 10px;

        h5 {
          padding-top: 20px;
          padding-bottom: 20px;
          border-bottom: 1px solid #ffffff22;
          border-width: 1px;
          color: #f8f8ff;
          font-weight: 600;
          font-size: 20px;
          font-family: "Eastman", Arial, sans-serif;
          -webkit-font-smoothing: antialiased;
        }

        .price {
          font-weight: 700;
          font-size: 42px;
          color: white;
          margin-top: 33px;
          font-family: "Eastman", Arial, sans-serif;
        }

        span {
          color: #f8f8ff;
          margin-top: 5px;
          margin-bottom: 30px;
          font-weight: 400;
          display: block;
          font-size: 16px;
          line-height: 1.55;
          font-family: "Eastman", Arial, sans-serif;
          -webkit-font-smoothing: antialiased;
        }
      }

      .proffits {
        padding-top: 20px;

        .proffit {
          padding-left: 20px;
          padding-right: 20px;
          color: black;
          font-weight: 400;
          margin-bottom: 10px;
          font-size: 16px;
          font-family: "Eastman", Arial, sans-serif;
          -webkit-font-smoothing: antialiased;

          span {
            font-family: "Eastman", Arial, sans-serif;
            font-weight: 500;
            padding-right: 5px;
            color: black;
          }

          &.proffit-first {
            font-weight: 500;
          }
        }
      }

      .tariff-btn {
        button {
          color: white;
          border-radius: 30px;
          text-transform: uppercase;
          padding: 12px 30px 8px;
          margin: 20px 0;
          outline: none;
          border: none;
          font-family: "Eastman", Arial, sans-serif;
        }
      }
    }

    .tariff:nth-child(2) h5 {
      border-color: #ffffff;
    }

    .tariff:nth-child(3) .price {
      font-size: 34px;
      margin-bottom: 10px;
    }
  }
}
